{#
/**
 * @file
 * Default theme implementation to display an open collective list of members.
 *
 * Available variables:
 * - collective: Collective slug.
 * - members: Array of member objects.
 *   - imageUrl:
 *   - name:
 *   - id:
 *   - slug:
 *
 * @ingroup themeable
 */
#}
{%
  set wrapperClasses = [
    'funding-open-collective-api-members--wrapper',
  ]
%}
{%
  set contentClasses = [
    'funding-open-collective-api-members--member',
  ]
%}
{%
  set titleClasses = [
    'funding-open-collective-api-members--member-name',
  ]
%}
{% if members is not empty %}
<div {{ attributes.addClass(wrapperClasses) }}>
    {% for member in members %}
      <div {{ content_attributes.addClass(contentClasses) }}>
        {% if member.name %}
          <strong {{ title_attributes.addClass(titleClasses) }}>{{ member.name }}</strong>
        {% endif %}
        {% if member.imageUrl %}
          <img
            class="funding-open-collective-api-members--member-image"
            src="{{ member.imageUrl }}"
            alt="{{ member.name |default( collective ~ ' contributor' ) }}">
        {% endif %}
      </div>
    {% endfor %}
</div>
{% endif %}
